In [91]:
import pandas as pd
import cv2

In [190]:
data = pd.read_excel('SKUMaster.xlsx')

In [191]:
data

,SAP Code,Description in SAP,Source type,TireSize,Rim Size,Speed,Index,Pattern,Pattern Chinese,Section Width,Aspect Ratio,LongTail,SlowMoving
0,528552,225/75R15 106Q WRL RAD AT XL,Local,225/75R15,15,106,Q,WRL RAD AT,静音装甲,225,75.0,NaN,NaN
1,557654,P215/75R15 100S WRL RAD AT,Local,P215/75R15,15,100,S,WRL RAD AT,静音装甲,P215,75.0,NaN,NaN
2,539792,235/60R16 100H WRANGLER TRIPLEMAX FP,Import,235/60R16,16,100,H,WRANGLER TRIPLEMAX,NaN,235,60.0,NaN,NaN
3,539793,235/60R17 102H WRANGLER TRIPLEMAX FP,Import,235/60R17,17,102,H,WRANGLER TRIPLEMAX,NaN,235,60.0,NaN,NaN
4,541577,215/70R16 100H WRANGLER TRIPLEMAX FP,Local,215/70R16,16,100,H,WRANGLER TRIPLEMAX,NaN,215,70.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,544876,205/55R16 94V ASSURANCE DURAPLUS 2 XL,Local,205/55R16,16,94,V,Assurance Duraplus 2,NaN,205,55.0,NaN,NaN
562,544878,205/60R16 92V ASSURANCE DURAPLUS 2,Local,205/60R16,16,92,V,Assurance Duraplus 2,NaN,205,60.0,NaN,NaN
563,544883,215/55R16 93V ASSURANCE DURAPLUS 2,Local,215/55R16,16,93,V,Assurance Duraplus 2,NaN,215,55.0,NaN,NaN
564,544885,215/60R16 95V ASSURANCE DURAPLUS 2,Local,215/60R16,16,95,V,Assurance Duraplus 2,NaN,215,60.0,NaN,NaN
565,521461,205/60R15 91V ASSURANCE W/COMF,Import,205/60R15,15,91,V,ASSURANCE,安殊轮,205,60.0,NaN,NaN

In [192]:
data = data.drop(['Rim Size', 'Speed', 'Index', 'Pattern', 'Pattern Chinese','Aspect Ratio',
           'Section Width ','LongTail', 'SlowMoving'], axis = 1)

In [108]:
for replace_data in data['Description in SAP']:
    print(replace_data)
    replace_data = i
    replace_data = replace_data.split(" ")
    print(replace_data)
    string_to_replace = replace_data[0]+', '+ replace_data[1]+ ', ' +' '.join(replace_data[2:])
    print(string_to_replace)
    
    #data.replace(to_replace = i,
    #            value = string_to_replace)
    break

225/75R15 106Q WRL RAD AT XL
['205/60R15', '91V', 'ASSURANCE', 'W/COMF']
205/60R15, 91V, ASSURANCE W/COMF

In [143]:
data

     SAP Code                     Description in SAP Source type    TireSize
0      528552           225/75R15 106Q WRL RAD AT XL       Local   225/75R15
1      557654             P215/75R15 100S WRL RAD AT       Local  P215/75R15
2      539792   235/60R16 100H WRANGLER TRIPLEMAX FP      Import   235/60R16
3      539793   235/60R17 102H WRANGLER TRIPLEMAX FP      Import   235/60R17
4      541577   215/70R16 100H WRANGLER TRIPLEMAX FP       Local   215/70R16
..        ...                                    ...         ...         ...
561    544876  205/55R16 94V ASSURANCE DURAPLUS 2 XL       Local   205/55R16
562    544878     205/60R16 92V ASSURANCE DURAPLUS 2       Local   205/60R16
563    544883     215/55R16 93V ASSURANCE DURAPLUS 2       Local   215/55R16
564    544885     215/60R16 95V ASSURANCE DURAPLUS 2       Local   215/60R16
565    521461         205/60R15 91V ASSURANCE W/COMF      Import   205/60R15

[566 rows x 4 columns]

In [43]:
data['Description in SAP'][1]

'P215/75R15 100S WRL RAD AT'

In [210]:
df = pd.DataFrame()
for i in data['Description in SAP']:
    #print(i)
    i = i.split(" ")
    i = [i[0],i[1],' '.join(i[2:])]
    s = i[0]+', '+i[1]+', '+' '.join(i[2:])
    #print(s)
    sr = pd.DataFrame([s])
    df = pd.concat([df, sr], ignore_index = True)
    #print(df)

In [211]:
df

                                           0
0             225/75R15, 106Q, WRL RAD AT XL
1               P215/75R15, 100S, WRL RAD AT
2     235/60R16, 100H, WRANGLER TRIPLEMAX FP
3     235/60R17, 102H, WRANGLER TRIPLEMAX FP
4     215/70R16, 100H, WRANGLER TRIPLEMAX FP
..                                       ...
561  205/55R16, 94V, ASSURANCE DURAPLUS 2 XL
562     205/60R16, 92V, ASSURANCE DURAPLUS 2
563     215/55R16, 93V, ASSURANCE DURAPLUS 2
564     215/60R16, 95V, ASSURANCE DURAPLUS 2
565         205/60R15, 91V, ASSURANCE W/COMF

[566 rows x 1 columns]

In [228]:
df = df.rename(columns = {0:"Description in SAP"})

In [229]:
df

                          Description in SAP
0             225/75R15, 106Q, WRL RAD AT XL
1               P215/75R15, 100S, WRL RAD AT
2     235/60R16, 100H, WRANGLER TRIPLEMAX FP
3     235/60R17, 102H, WRANGLER TRIPLEMAX FP
4     215/70R16, 100H, WRANGLER TRIPLEMAX FP
..                                       ...
561  205/55R16, 94V, ASSURANCE DURAPLUS 2 XL
562     205/60R16, 92V, ASSURANCE DURAPLUS 2
563     215/55R16, 93V, ASSURANCE DURAPLUS 2
564     215/60R16, 95V, ASSURANCE DURAPLUS 2
565         205/60R15, 91V, ASSURANCE W/COMF

[566 rows x 1 columns]

In [230]:
result = data.drop(['Description in SAP'], axis = 1)
result

     SAP Code Source type    TireSize
0      528552       Local   225/75R15
1      557654       Local  P215/75R15
2      539792      Import   235/60R16
3      539793      Import   235/60R17
4      541577       Local   215/70R16
..        ...         ...         ...
561    544876       Local   205/55R16
562    544878       Local   205/60R16
563    544883       Local   215/55R16
564    544885       Local   215/60R16
565    521461      Import   205/60R15

[566 rows x 3 columns]

In [231]:
data

     SAP Code                     Description in SAP Source type    TireSize
0      528552           225/75R15 106Q WRL RAD AT XL       Local   225/75R15
1      557654             P215/75R15 100S WRL RAD AT       Local  P215/75R15
2      539792   235/60R16 100H WRANGLER TRIPLEMAX FP      Import   235/60R16
3      539793   235/60R17 102H WRANGLER TRIPLEMAX FP      Import   235/60R17
4      541577   215/70R16 100H WRANGLER TRIPLEMAX FP       Local   215/70R16
..        ...                                    ...         ...         ...
561    544876  205/55R16 94V ASSURANCE DURAPLUS 2 XL       Local   205/55R16
562    544878     205/60R16 92V ASSURANCE DURAPLUS 2       Local   205/60R16
563    544883     215/55R16 93V ASSURANCE DURAPLUS 2       Local   215/55R16
564    544885     215/60R16 95V ASSURANCE DURAPLUS 2       Local   215/60R16
565    521461         205/60R15 91V ASSURANCE W/COMF      Import   205/60R15

[566 rows x 4 columns]

In [233]:
df_concat = pd.concat([result, df], axis = 1)

In [234]:
df_concat

     SAP Code Source type    TireSize                       Description in SAP
0      528552       Local   225/75R15           225/75R15, 106Q, WRL RAD AT XL
1      557654       Local  P215/75R15             P215/75R15, 100S, WRL RAD AT
2      539792      Import   235/60R16   235/60R16, 100H, WRANGLER TRIPLEMAX FP
3      539793      Import   235/60R17   235/60R17, 102H, WRANGLER TRIPLEMAX FP
4      541577       Local   215/70R16   215/70R16, 100H, WRANGLER TRIPLEMAX FP
..        ...         ...         ...                                      ...
561    544876       Local   205/55R16  205/55R16, 94V, ASSURANCE DURAPLUS 2 XL
562    544878       Local   205/60R16     205/60R16, 92V, ASSURANCE DURAPLUS 2
563    544883       Local   215/55R16     215/55R16, 93V, ASSURANCE DURAPLUS 2
564    544885       Local   215/60R16     215/60R16, 95V, ASSURANCE DURAPLUS 2
565    521461      Import   205/60R15         205/60R15, 91V, ASSURANCE W/COMF

[566 rows x 4 columns]

In [236]:
df_concat.to_csv('result.txt', header=True, index=False, sep='\t', mode='a')